<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<h2>Users </h2>
<ul>
  <li *ngFor="let student of studentsList">
    <h2><a style="cursor: pointer" (click)="onSelect(student)">{{student.firstName}} {{student.lastName}}</a></h2>
  </li>
</ul>
<div *ngIf="student">
  <div><span>First name: </span> <input  type="text" value="{{student.firstName}}"/></div>
  <div><span>Last name: </span> <input type="text" value="{{student.lastName}}"/></div>
  <div><span>Address: </span> <input type="text" value="{{student.address}}"/></div>
  <div><span>Contact Number: </span> <input type="text" [value]="student.contactNumber"/></div>
  <input type="button" value="Update" (click)="update(student)"/>
</div>

